# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

APP_NAME=""

NODE_ENV="development"

# DB module
DATABASE_URL="postgresql://user:password@localhost:5432/mydatabase?schema=public"

#Gemini
GEMINI_API_KEY=""

#Auth module - Secret examples
JWT_SECRET="fad5ea26acc452badae6ed91a48f98b49d409eb27f9deb0e2d5b32c7432bdf6a3ab2932de442c3e206fadd14d3812467cb5f0bc4d02ea026983baf2febcf8eb508fb92cdfef3af6eb0e85d34a9a04cce7d0bf1754703d42693057ae6b9fa5bfb2b5918aa8a00532f70fae6862627d12db653377040bfa765b84d86061a7e9280"
JWT_REFRESH_SECRET="5278440b1dce36db761e236162017e22f499f9f2499e6736ebc1965bba3e1031ee14712811c1e80941d0cab7494351f17643aaefc963b0862799ec6b05bbec17febaccd8eefbfa4b2113a78e1b26d3038c029941f59c23ce6c273eccdb57b3a4592d73dd9ec324aaba23d7621801c0f42440487c81ab204a205bce3bcc8ef68f"

# Email modulue
MAIL_HOST="sandbox.smtp.mailtrap.io"

MAIL_PORT="2525"

MAIL_USER="488191faf3e898"

MAIL_PASSWORD="3c57446ae896be"

DEFAULT_EMAIL_FROM="contato@studyrun.com.br"

